{% extends "base.html" %}
{% block content %}
<div class="max-w-4xl mx-auto bg-white p-6 rounded shadow mt-6">
  <h1 class="text-3xl font-bold mb-4">{{ game.title }}</h1>
  <img src="{{ game.cover_image_url }}" alt="{{ game.title }}" class="w-full h-64 object-cover rounded mb-6">
  <p class="mb-4">{{ game.description }}</p>
  <p><strong>Genre:</strong> {{ game.genre.name }}</p>
    {% if user.is_authenticated %}
  <a href="{% url 'game-edit' game.pk %}"
     class="inline-block bg-yellow-500 hover:bg-yellow-600 text-white px-4 py-2 rounded mr-2">
     Edit
  </a>
{% endif %}

  {% if user.is_superuser %}
    <a href="{% url 'game-delete' game.pk %}" class="text-red-600 hover:underline mt-4 inline-block">Delete Game</a>
  {% endif %}

  <a href="{% url 'game-list' %}" class="text-blue-500 hover:underline mt-4 inline-block">Back to list</a>
</div>
{% endblock %}
